* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(15, 23, 36);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.mainContainer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.homeBox {
  height: 100vh;
}
