.contactContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 0px 0px 20px 0px;
}

.contactInfo {
  color: rgb(245, 245, 245);
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 2px solid transparent;
  border-bottom: 2px solid transparent; */

  background: linear-gradient(rgb(15, 23, 36), rgb(15, 23, 36)) padding-box,
    linear-gradient(45deg, #965fe3, #23a7cd) border-box;
  gap: 20px;
}

.infoLine {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.infoLine p:first-child {
  font-size: 1.1em;
}

.infoLine p:last-child {
  font-size: 1.1em;
  font-weight: 600;
}

.line {
  width: 2px;
  height: 50px;
  background-image: linear-gradient(45deg, #965fe3, #23a7cd);
}

@media screen and (min-width: 0px) and (max-width: 1060px) {
  .line {
    display: none;
  }
  .contactInfo {
    flex-direction: column;
  }
  .infoLine{
    font-size: 0.9em;
  }
}
