.projectsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: fit-content;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.projectHeading {
  width: 97%;
}
.projectHeading h2 {
  color: rgb(245, 245, 245);
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .projectsContainer {
    height: fit-content;
  }
}

@media screen and (min-width: 720px) and (max-width: 1403px) {
  .projectsContainer {
    height: fit-content;
  }
}
